
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

    <form action="/Recrutadora/Store" method="post">
        <div class="form-group">
            <label for="campo-nome">Nome <span class="text-danger">*</span></label>
            <input type="text" name="Recrutadora.Nome" id="campo-nome" class="form-control" placeholder="Digite seu nome" required ="required">
            @Html.ValidationMessage("Recrutadora.Nome");
        </div>
        <div class ="form-group">
            <label for="campo-cpf">CPF <span class="text-danger">*</span></label>
            <input type="text" name="Recrutadora.CPF" id="campo-cpf" class="form-control" placeholder="Digite seu CPF" required="required">
            @Html.ValidationMessage("Recrutadora.CPF");
            </div>
        <div class="form-group">
            <label for="campo-salario">Salário <span class="text-danger">*</span></label>
            <input type="text" name="Recrutadora.Salario" id="campo-salario" class="form-control" placeholder="Digite o salário" required="required">
            @Html.ValidationMessage("Recrutadora.Salario");
        </div>
            <div class="form-group">
                <label for="campo-tempo-empresa">Tempo empresa <span class="text-danger">*</span> </label>
                <select id="campo-tempo-espera" name="Recrutadora.TempoEmpresa" class="form-control" required="required">
                    <option value="0">0 ano</option>
                    <option value="1">1 ano</option>
                    <option value="2">2 ano</option>
                    <option value="3">3 ano</option>
                    <option value="4">4 ano</option>
                    <option value="5">5 ano</option>
                    <option value="6">6 ano</option>

                   
                </select>


            </div>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Cadastrar
        </button>
            
</form>

